In [9]:
# NB - making an attempt to solve all of the AOC problems in pandas
import pandas as pd

In [10]:
df = pd.read_table('data/input_1.txt', header=None, skip_blank_lines=False)

In [11]:
tuplist = []
elf=1
cal=0

for i, x in df.itertuples():
    if np.isnan(x):
        tuplist.append((elf, cal))
        elf+=1
        cal=0
    else:
        cal = cal+x

     
df_cals = pd.DataFrame(columns=['elf', 'calories'], data=tuplist)
print(df_cals['calories'].max())
print(df_cals.sort_values('calories', ascending=False).head(3)['calories'].sum())

71471.0
211189.0

In [12]:
# for info - df view
df_cals

     elf  calories
0      1   52551.0
1      2   55778.0
2      3   61127.0
3      4   39354.0
4      5   42353.0
..   ...       ...
230  231   42562.0
231  232   40467.0
232  233   46087.0
233  234   61887.0
234  235   57671.0

[235 rows x 2 columns]